@CHARSET "UTF-8";

#search {
	display: block;
	width: 50px;
	height: 20px;
	border-bottom-style: solid;
	border-bottom-color: #E1454F;
	background-color: yellow;
}
.center{
	align:center;
}
/* .logo { */
/* 	align */
	
/* } */

ul{
	display: inline;
	float: right;
	float: top;
    border: 3px blue solid;
}

ul li{
	float: left;
   list-style-type: none;
   margin-right: 20px;
	
}

#topdiv{
	
    margin: 30px;
    height: 30px;
}

#searchca{
	
	width: 100px;
/* 	height: 30px; */
}

#searchte{
	width: 400px;
/* 	height: 25px; */
} 

#contents{
	width: 80%;
	height: 70%;
	border: 3px green solid;
	
}

#weather{
	/* float: left;
	margin: 1.5%;
	width: 44%; */
	width: 45.5%;
	margin-left: 3%;
	margin-right: 1.5%;
	margin-bottom: 1.5%;
	margin-top: 1.5%;
	min-height: 300px;
	border: 2px green solid;
}

#recommend{
	/* margin: 1.5%;
	float: right;
	width: 44%; */
	width: 45.5%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-bottom: 1.5%;
	margin-top: 1.5%;
	min-height: 300px;
	border: 2px green solid;
}

#today_top{
	margin: 1.5%;
	clear: both;
	width: 94%;
	min-height: 300px;
	border: 2px blue solid;
}

#today_top2{
	/* float: left;
	margin: 1.5%;
	width: 44%; */
	width: 45.5%;
	margin-left: 3%;
	margin-right: 1.5%;
	margin-bottom: 1.5%;
	margin-top: 1.5%;
	min-height: 300px;
	border: 2px green solid;
}

#my_top{
	/* margin: 1.5%;
	float: right;
	width: 44%; */
	width: 45.5%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-bottom: 1.5%;
	margin-top: 1.5%;
	min-height: 300px;
	border: 2px green solid;
}

#con {
	margin-left: auto;
}
